
#app{
    display: flex;
    flex-direction: column;
    width:100vw;
    /*overflow-y: scroll;*/
}
#projects-nav{
    /*width: 268px;*/
    background: #fff;
    /*-webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);*/
    /*box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);*/
    /*position: relative;*/
    min-width: max-content;
}

#content{
    flex-grow: 1;
    background: #e8eaed;
    display: flex;
    /*overflow-y: scroll;*/
    justify-content: center;
    width: min-content;
}
#container{
    /*-webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);*/
    /*box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);*/
    /*border-radius: 2px;*/
}
#projects-nav-title{
    background: white;
}
#project-content{
    background: white;
}
#projects-title{
    border-bottom: solid 1px #b1b1b1;
}
.navbar-brand{
    font-size: 1.4rem;
}
.lower-nav-container{
    /*-webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);*/
    /*box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);*/
    /*position: relative;*/
}
.projects-nav-item{
    background: #658dcf24;
    cursor: pointer;
}
.projects-nav-item:hover{
    background: #658dcf42;
}
.child-project{
    cursor: pointer;
}
.child-project:hover{
    background: #0000000d;
}
header{
    border-bottom: solid 1px #b1b1b1;
}
section{
    /*height: 0;*/
    flex-grow: 1;
}
